PORT=3006
DATABASE_URL="postgresql://postgres:postgres@localhost:5435/notification_db?schema=public"
JWT_SECRET="your-jwt-secret-here"

KAFKA_BROKERS="localhost:9092"
REDIS_URL="redis://localhost:6379"

SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_EMAIL=""
SMTP_PASSWORD=""
SMTP_FROM_NAME="Vibester"

USER_SERVICE_URL="http://localhost:3003"
POST_SERVICE_URL="http://localhost:3000"
HTTP_CLIENT_TIMEOUT_MS=5000
